/* Google fonts*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    text-transform: capitalize;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}
body::-webkit-scrollbar {
    width: 0.25rem;
    
}
body::-webkit-scrollbar-track {
    background: #2c3e50;
}
body::-webkit-scrollbar-thumb {
    background: var(--primary);
}
:root {
    --bg-color:#e7eafb;
    --primary: #01a29c;
    --hover: #008170;
    --h1-font: 2.2rem;
    --h2-font:1.1rem;
    --p-font: 0.9rem;
    --m-1: 0.4rem
    --m-4: 2rem;

}
html {
    background: #1c2834;
    columns: #fff;

}
section {
    padding: 50px 100px;

}
header {
    position: fixed;
    width: 100%;
    top:0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--bg-color);
    padding: 18px 100px;
    box-shadow: 0 0.5rem rgba(0, 0, 0, 0.1);

}
.logo {
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--primary);
    text-decoration: none;
}
.navbar{
    display: flex;

}
.navbar li {
    text-decoration: none;
}
.navbar a {
    font-size: 1rem;
    padding: 10px 20px;
    color: #222435;
    font-weight: 500;
    text-decoration: none;
}
header .navbar a:hover {
    background: var(--primary);
    color: #fff;
}
#menu-icon{
    font-size: 2rem;
    cursor: pointer;
    display: none;
}
.home {
    position: relative;
    width: 100%;
    min-height: 100vh;
    color: #222435;
    display: flex;
    align-items: center;
    background-color: var(--bg-color);
    background: url(images/download.jpeg) no-repeat;
    background-size: cover;
    background-position: right center;

}


.home-text {
max-width: 500px;
color: rgb(17, 141, 141);
}

.home-text h1 {
font-size: var(--h1-font);
letter-spacing: var(--spacing);
}

.home-text span {
color: var(--primary);

}

.home-text h2 {

font-size: var(--h2-font);

margin: var(--m-1) 0;

letter-spacing: var(--spacing);

}

.home-text p {

font-size: var(--p-font);

margin-bottom: var(--m-4);

line-height: 22px;

max-width: 71%;

}

.btn {

padding: 10px 22px;

background: var(--primary);

color: #fff;

}

.btn:hover {

background: var(--hover);

}

.about {

width: 100%;

min-height: 84vh;

display: flex;

align-items: center;

justify-content: space-between;

}

.about-img {

width: 500px;

height: 400px;

}

.about-img img {

width: 100%;

height: 100%;

object-fit: contain;

object-position: center;

}

.about-text {

max-width: 500px;

}

.about-text h2 {

font-size: var(--h2-font);

color: var(--primary);

}

.about-text h1 {

font-size: var(--h1-font);

font-weight: 600;

}

.about-text p {

font-size: var(--p-font);

margin: 1rem 0 var(--m-4);

text-align: justify;

font-weight: 300;

}

.skills {

width: 100%;

min-height: 100vh;

}

.heading {

display: flex;

justify-content: center;

padding: 1.4rem 0;

}

.heading h1 {

font-size: var(--h1-font);

font-weight: 600;

border-bottom: 2px solid var(--primary);

}

.skills-content {

display: flex;

align-items: center;

justify-content: space-between;

}

.skills-img {

width: 500px;

height: 400px;

margin-top: 7.6rem;

}

.skills-img img {

height: 100%;

width: 100%;

object-fit: contain;

object-position: center;

}

.skills-bars {

display: flex;

flex-direction: column;

max-width: 500px;

}

.skills-text h2 {

font-weight: 600;

}

.skills-text p {

font-size: var(--p-font);

margin: 1rem 0;

}

.skills-box {

position: relative;

background: #2c3e50;

margin: 1rem 0;

height: 3.4rem;

display: flex;

align-items: center;

justify-content: space-between;

padding: 0 10px;

border-radius: 10px;

}

.skills-box i {

display: flex;

align-items: center;

font-size: 20px;

font-weight: 600;

color: #01a29c;

}
.skills-box span {
     color: aqua;
}

.skills-box h3 {

margin-left: 1rem;

font-size: 1rem;

font-weight: 600;

}

.percent-bar {

position: absolute;

left: 0;

bottom: 0;

background: var(--primary);

height: 0.34rem;

border-radius: 10px;

}

.html-bar {

width: 94%;

}

.css-bar {

width: 84%;

}

.js-bar {

width: 65%;

}

.ux-bar {

width: 80%;

}

.portfolio-content {

display: flex;

align-items: center;

justify-content: center;

flex-wrap: wrap;

}

.p-box {

display: flex;

flex-direction: column;

align-items: center;

width: 300px;

height: auto;

background: #2c3e50;

margin: 20px;

padding: 40px;

text-align: center;

}

.p-box:hover {

background: var(--primary);

transition: 0.5s ease;
}